/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Copyright (C) 2025 Emcraft Systems
 */

#include <config.h>

/* image version */

IMAGE_VERSION 2

/*
 * Boot Device : one of
 * spi/sd/nand/onenand, qspi/nor
 */

#ifdef CONFIG_FSPI_BOOT
BOOT_FROM	qspi
#else
BOOT_FROM	sd
#endif

/*
 * Device Configuration Data (DCD)
 *
 * Each entry must have the format:
 * Addr-type           Address        Value
 *
 * where:
 *	Addr-type register length (1,2 or 4 bytes)
 *	Address	  absolute address of the register
 *	value	  value to be stored in the register
 */
