// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) 2025 Emcraft Systems
 */

/dts-v1/;
#include "imxrt1170.dtsi"
#include "maaxboard-rt-u-boot.dtsi"
#include "imxrt1170-pinfunc.h"

/ {
	model = "Avnet MaaXBoard RT";
	compatible = "avnet,maaxboard-rt", "fsl,imxrt1170";

	chosen {
		stdout-path = "serial0:115200n8";
		tick-timer = &gpt1;
	};

	memory {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "memory";
		reg = <0x80000000 0x02000000>;
	};

	flash0: s26ks256s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x30000000 0x02000000>;
		compatible = "jedec-flash";
		bank-width = <0x2>;
		status = "okay";

		partition@0 {
			label = "uboot";
			reg = <0x0 0x80000>;
		};

		partition@1 {
			label = "uboot_env";
			reg = <0x80000 0x80000>;
		};

		partition@2 {
			label = "uImage";
			reg = <0x100000 0x00d00000>;
		};

		partition@3 {
			label = "rootfs";
			reg = <0xe00000 0x01200000>;
		};
	};
};

&lpuart1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>;
	status = "okay";
};

&semc {
	assigned-clocks = <&clks IMXRT1170_CLK_PLL3_PFD0>, <&clks IMXRT1170_CLK_ROOT_SEMC>;
	assigned-clock-parents = <&clks IMXRT1170_CLK_PLL3>, <&clks IMXRT1170_CLK_PLL3_PFD0>;
	assigned-clock-rates = <480000000>, <160000000>;

	/*
	 * Memory configuration from sdram datasheet IS42S16160J-6BLI
	 */
	fsl,sdram-mux = /bits/ 8 <0
				0
				0
				0
				0
				0>;
	fsl,sdram-control = /bits/ 8 <MEM_WIDTH_16BITS
					BL_8
					COL_9BITS
					CL_3>;
	fsl,sdram-timing = /bits/ 8 <0x2
				     0x2
				     0xA
				     0x1
				     0x7
				     0x7

				     0x0D
				     0x0A
				     0x01
				     0x00

				     0x04
				     0x04
				     0x21
				     0x21>;

	bank1: bank@0 {
		fsl,base-address = <0x80000000>;
		fsl,memory-size = <MEM_SIZE_32M>;
		bootph-pre-ram;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>;

	maaxboard-rt {
		pinctrl_lpuart1: lpuart1grp {
			fsl,pins = <
				IOMUXC_GPIO_AD_24_LPUART1_TXD (MXRT1170_PAD_DSE | MXRT1170_PAD_PUE)
				IOMUXC_GPIO_AD_25_LPUART1_RXD (MXRT1170_PAD_DSE | MXRT1170_PAD_PUE)
			>;
		};

		pinctrl_semc: semcgrp {
			fsl,pins = <
				IOMUXC_GPIO_EMC_B1_00_SEMC_DATA00
					8	/* SEMC_D0 */
				IOMUXC_GPIO_EMC_B1_01_SEMC_DATA01
					8	/* SEMC_D1 */
				IOMUXC_GPIO_EMC_B1_02_SEMC_DATA02
					8	/* SEMC_D2 */
				IOMUXC_GPIO_EMC_B1_03_SEMC_DATA03
					8	/* SEMC_D3 */
				IOMUXC_GPIO_EMC_B1_04_SEMC_DATA04
					8	/* SEMC_D4 */
				IOMUXC_GPIO_EMC_B1_05_SEMC_DATA05
					8	/* SEMC_D5 */
				IOMUXC_GPIO_EMC_B1_06_SEMC_DATA06
					8	/* SEMC_D6 */
				IOMUXC_GPIO_EMC_B1_07_SEMC_DATA07
					8	/* SEMC_D7 */
				IOMUXC_GPIO_EMC_B1_08_SEMC_DM00
					8	/* SEMC_DM0 */
				IOMUXC_GPIO_EMC_B1_09_SEMC_ADDR00
					8	/* SEMC_A0 */
				IOMUXC_GPIO_EMC_B1_10_SEMC_ADDR01
					8	/* SEMC_A1 */
				IOMUXC_GPIO_EMC_B1_11_SEMC_ADDR02
					8	/* SEMC_A2 */
				IOMUXC_GPIO_EMC_B1_12_SEMC_ADDR03
					8	/* SEMC_A3 */
				IOMUXC_GPIO_EMC_B1_13_SEMC_ADDR04
					8	/* SEMC_A4 */
				IOMUXC_GPIO_EMC_B1_14_SEMC_ADDR05
					8	/* SEMC_A5 */
				IOMUXC_GPIO_EMC_B1_15_SEMC_ADDR06
					8	/* SEMC_A6 */
				IOMUXC_GPIO_EMC_B1_16_SEMC_ADDR07
					8	/* SEMC_A7 */
				IOMUXC_GPIO_EMC_B1_17_SEMC_ADDR08
					8	/* SEMC_A8 */
				IOMUXC_GPIO_EMC_B1_18_SEMC_ADDR09
					8	/* SEMC_A9 */
				IOMUXC_GPIO_EMC_B1_19_SEMC_ADDR11
					8	/* SEMC_A11 */
				IOMUXC_GPIO_EMC_B1_20_SEMC_ADDR12
					8	/* SEMC_A12 */
				IOMUXC_GPIO_EMC_B1_21_SEMC_BA0
					8	/* SEMC_BA0 */
				IOMUXC_GPIO_EMC_B1_22_SEMC_BA1
					8	/* SEMC_BA1 */
				IOMUXC_GPIO_EMC_B1_23_SEMC_ADDR10
					8	/* SEMC_A10 */
				IOMUXC_GPIO_EMC_B1_24_SEMC_CAS
					8	/* SEMC_CAS */
				IOMUXC_GPIO_EMC_B1_25_SEMC_RAS
					8	/* SEMC_RAS */
				IOMUXC_GPIO_EMC_B1_26_SEMC_CLK
					8	/* SEMC_CLK */
				IOMUXC_GPIO_EMC_B1_27_SEMC_CKE
					8	/* SEMC_CKE */
				IOMUXC_GPIO_EMC_B1_28_SEMC_WE
					8	/* SEMC_WE */
				IOMUXC_GPIO_EMC_B1_29_SEMC_CS0
					8	/* SEMC_CS0 */
				IOMUXC_GPIO_EMC_B1_30_SEMC_DATA08
					8	/* SEMC_D8 */
				IOMUXC_GPIO_EMC_B1_31_SEMC_DATA09
					8	/* SEMC_D9 */
				IOMUXC_GPIO_EMC_B1_32_SEMC_DATA10
					8	/* SEMC_D10 */
				IOMUXC_GPIO_EMC_B1_33_SEMC_DATA11
					8	/* SEMC_D11 */
				IOMUXC_GPIO_EMC_B1_34_SEMC_DATA12
					8	/* SEMC_D12 */
				IOMUXC_GPIO_EMC_B1_35_SEMC_DATA13
					8	/* SEMC_D13 */
				IOMUXC_GPIO_EMC_B1_36_SEMC_DATA14
					8	/* SEMC_D14 */
				IOMUXC_GPIO_EMC_B1_37_SEMC_DATA15
					8	/* SEMC_D15 */
				IOMUXC_GPIO_EMC_B1_38_SEMC_DM01
					8	/* SEMC_DM01 */
				IOMUXC_GPIO_EMC_B1_39_SEMC_DQS
					(IMX_PAD_SION | 8)	/* SEMC_DQS */
			>;
		};


		pinctrl_flexspi1: flexspi1grp {
			fsl,pins = <
				IOMUXC_GPIO_SD_B2_00_FLEXSPI1_B_DATA03	(0x0c)
				IOMUXC_GPIO_SD_B2_01_FLEXSPI1_B_DATA02	(0x0c)
				IOMUXC_GPIO_SD_B2_02_FLEXSPI1_B_DATA01	(0x0c)
				IOMUXC_GPIO_SD_B2_03_FLEXSPI1_B_DATA00	(0x0c)
				IOMUXC_GPIO_SD_B2_04_FLEXSPI1_B_SCLK	(IMX_PAD_SION | 0x0c)
				IOMUXC_GPIO_SD_B2_05_FLEXSPI1_A_DQS	(IMX_PAD_SION | 0x08)
				IOMUXC_GPIO_SD_B2_06_FLEXSPI1_A_SS0_B	(0x0c)
				IOMUXC_GPIO_SD_B2_07_FLEXSPI1_A_SCLK	(IMX_PAD_SION | 0x0c)
				IOMUXC_GPIO_SD_B2_08_FLEXSPI1_A_DATA00	(0x0c)
				IOMUXC_GPIO_SD_B2_09_FLEXSPI1_A_DATA01	(0x0c)
				IOMUXC_GPIO_SD_B2_10_FLEXSPI1_A_DATA02	(0x0c)
				IOMUXC_GPIO_SD_B2_11_FLEXSPI1_A_DATA03	(0x0c)
			>;
		};
	};
};

&gpt1 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};
